<h1>ここ１週間の達成率</h1>
<p><%= @weekly_achievement_rate.presence || 0 %>%</p>
<h1>ここ１ヶ月の達成率</h1>
<p><%= @monthly_achievement_rate.presence || 0 %>%</p>
<h1>通算の達成率</h1>
<p><%= @totaly_achievement_rate.presence || 0 %>%</p>